<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/robot.png">
            <p class="aboutP">
                Hello users! So, how am I looking? I know, I look cool.. anyway thank you. Do you know? I'm made up
                of 4kg iron, 1kg titanium, 355gm copper, 65gm silicon, and 53lt air. Ohh! I forget to say my name.
                Hello! my name is Elio, but generally, I'm known as WeatherGod... My sensors are stretched all
                over the Earth and I can sense the temperature & humidity of any place through them...
            </p>
            <br>
            <p class="aboutP2">Wanna see my abilities?</p>
            <p class="aboutP2">Just go to the "Weather" page, and do whatever you can see in the "Help" page</p>
        </div>
        {{>footer}}
    </body>
</html>