<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Go to the 'Weather' page</p>
            <p>Type name of a place or any address</p>
            <p>Click on the Search key</p>
            <p>Now see the Weather info</p>
        </div>
        {{>footer}}
    </body>
</html>